body {
  margin: 0;
  padding: 0;
  background-image: url("./web_pic/redbanner.jpg") ;
  background-size: cover;
  background-position: center;
  height: 100%;
}

a {
  text-decoration: none;
}

#bannerword {
  height: 20%;
  margin-top: 10%;
  margin-left: 5%;
  position: absolute;
  padding: 2%;
  width: 40%;
}

#bannertxt1, #bannertxt2, #bannertxt3 {
  position: relative;
  top: 0px;
  left: 0px;
}

.bannertxt {
  color: white;
  font-size: 300%;
  font-weight: bold;
  letter-spacing: 3px;
  word-spacing: 10px;
}

.bannersmalltxt {
  color: white;
  font-size: 170%;
  word-spacing: 7px;
}
#linkplace {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 2%;
}

.linkref {
  color: white;
  font-size: 20px;
  padding: 20px;
}

.searchref {
  position: absolute;
  top: 3%;
  right: 0px;;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.linkref:hover {
  color: gray;
  position: relative;
  top: 1px;
  left: 1px;
}

#introright {
  background-color: #696969;
  height: 40%;
  width: 55%;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#introtextpic {
  background-image: url("https://i.imgur.com/xHjgfCK.jpg");
  background-repeat: no-repeat;
  background-color: black;
  background-position: left;
  height: 100%;
  width: 50%; 
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
}

#introtxt1, #introtxt2, #introtxt3 {
  color: white;
  font-size: 30px;
  font-weight: bold;
  position : absolute;
  margin-top: 15%;
  margin-left: 30%;
}


#intropic {
  blackground-image: url("./web_pic/redman.jpg");
  background-repeat: no-repeat;
  background-color: black;
  height: 100%;
  width: 50%;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  float: left;
  overflow: hidden;
}


#introbuttom {
  background-color: white;
  position: absolute;
  height: 7%;
  width: 13%;
  margin-left: 35%;
  top: 60%;
}

.buttomleft {
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 20%;
}

.buttomright {
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
}

#introleft {
  background-color: white;
  height: 33%;
  width: 45%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

#squareswift {
  border-color: black;
  border-width: 3px;
  border-style: solid;
  height: 65%;
  position: absolute;
  margin: 6% 4% 4%;
  width: 25%;
}

.square{  
  background: white;
  color: black;
  float: left;
  font-size: 200%;
  font-weight:bold;
  height: 65%;
  position: relative;
  padding: 3%;
  margin: 6% 4% 4%;
  width: 25%;
}

.introsmalltxt {
  color: #A9A9A9;
  font-size: 105%;
}

.rotateX {
  transform: rotateX(180deg);
  font-size: 160%;
  color: white;
}
